
<div class="scroll">
{{#books}}
  <div class="media">
    <div class="media-left">
      <a href="/books/{{this.book_fk}}">
        <img class="media-object" src="{{this.cover_url}}" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a href='/books/{{this.book_fk}}'>{{this.title}}</a></h4>
      <h5 class="list-group-item-text">Author: <a href='/authors/{{this.author_fk}}'>{{this.last_name}}, {{this.first_name}}</a></h5>
      <h5 class="list-group-item-text">Genre: <a href='{{genre_fk}}/genre'>{{this.genre}}</a></h5>
      <br>
      <p class="list-group-item-text"><td>{{this.description}}</td></p>
    </div>
    <div class="media-right">
      <form class="form-group" action="/books/{{this.book_fk}}/delete" method="post">
        <input type="submit" class='btn btn-default' value="delete">
      </form>
      <form class="form-group" action="/books/{{this.book_fk}}/edit" method="get">
        <input type="submit"  class='btn btn-primary' value="edit">
      </form>
    </div>
  </div>
{{/books}}

{{#if post}}
  <div class="btn-group col-lg-offset-10" role="group" aria-label="...">
    <a href='/books' method='post'><button type="button" class="btn btn-default offset">Back</button></a>
    <a href='/books' method='post'><button type="button" class="btn btn-default offset">Next</button></a>
  </div>
{{/if}}
</div>
