{{#book}}
<form class="form-horizontal" action='/books/{{book_id}}/edit' method='post'>
  <fieldset>
    <div class="form-group">
      <label class="col-lg-2 control-label">Title</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name='title' value="{{title}}">
      </div>
      <label class="col-lg-1 control-label">Genre</label>
      <div class="col-lg-4">
        <input class="form-control" name='genre' value="{{genre}}">
      </div>
    </div>
      <label class="col-lg-2 control-label">Cover photo</label>
      <div class="col-lg-9">
        <input class="form-control" name='url' value="{{cover_url}}">
      </div><div class="form-group">
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Book Description</label>
      <div class="col-lg-9">
        <textarea class="form-control" rows="3" name='description' value='{{description}}'>{{description}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-2 col-lg-offset-9 botton">
        <a href='/books'><button class="btn btn-default">Cancel</button></a>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
{{/book}}
