<!DOCTYPE html>
<html>
  <head>
    <title>gReads</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-XYCjB+hFAjSbgf9yKUgbysEjaVLOXhCgATTEBpCqT1R3jvG5LGRAK5ZIyRbH5vpX" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">gReads</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {{#if b}}
                <li><a href="/books/addbooks">Add Book<span class="sr-only">(current)</span></a></li>
              {{else}}
                <li><a href="/books/">Search Books<span class="sr-only">(current)</span></a></li>
            {{/if}}
            {{#if a}}
                <li><a href="/authors/addAuthor">Add Author</a></li>
              {{else}}
                <li><a href="/authors">Search Authors</a></li>
            {{/if}}
            {{#if gen}}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Genre <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  {{#gen}}
                  <li><a href='/books/{{this.id}}/genre'>{{this.genre}}</a></li>
                  {{/gen}}
                </ul>
              </li>
            {{/if}}
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="sidebar-wrapper col-lg-2">
      <div class="list-group">
        <a href="/books" class="list-group-item">Search Books</a>
        {{#if b}}
        <form  action="/books" method="post">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">limit search</button>
            </span>
            <input type="text"  name='limit' class="form-control" value={{post}}>
          </div><!-- /input-group -->
        </form>
        {{/if}}
      </div>
      <div class="list-group">
        <a href="/authors" class="list-group-item">Search Authors</a>
        {{#if a}}
        <form  action="/authors" method="post">
          <div class="input-group">
            <span class="input-group-btn">
              <button  class="btn btn-default" type="submit">limit search</button>
            </span>
            <input type="text" name='limit' class="form-control" placeholder="enter #">
          </div><!-- /input-group -->
        </form>
        {{/if}}
      </div>
  </div>
  <div class='col-lg-10'>
    {{{body}}}
  </div>
  </body>
</html>
